git+https://github.com/openai/CLIP.git
notebook
torch==1.7.1
torchvision
# m3ae
einops
ml_collections
transformers
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_pip]
flax
optax
jaxtyping
matplotlib